.sideBar {
  --padding: 8px;

  overflow: hidden;
  position: absolute;

  left: 0;
  top: 0;

  height: calc(100vh - var(--padding) * 2);
  width: calc(320px - var(--padding) * 2);
  padding: var(--padding);

  background-color: #3c3c3c;
  color: white;

  transition: 0.3s;
}
.hiddenSideBar {
  width: 0px;
  padding: 0px;
}

.closeSideBarIcon {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 16px;
}

.sideBar > div > svg {
  font-size: 25px;
}

.sideBarSearch {
  border: 0px none;
  width: 200px;
  height: 30px;
  font-size: 20px;
}

.headerBar {
  display: flex;
  align-items: center;

  width: calc(100vw - 32px);
  height: 56px;
  padding: 0 16px;

  background-color: #cfcfcf;
  color: black;
}

.headerBar > svg {
  width: 25px;
  height: 25px;
  margin-right: 16px;
}

.container {
  display: flex;
  flex-flow: column nowrap;
  padding: 8px;
}

.boardItem {
  border: 2px solid black;
  border-radius: 8px;
  padding: 8px;
}
